<!-- HTML necessário para a página de login de usuários -->

<!-- login.html recebe as mesmas propriedades da base.html -->
{% extends 'portfolio/base.html' %}

<!-- Título da login.html -->
{% block title %}Login{% endblock %}

<!-- Começo do conteúdo principal da login.html -->
{% block content %}

<div id="div-login">
    <h2>Bem-vindo(a) de volta!</h2>

    <!-- Estrutura do formulário para login de usuário -->
    <form method="post" id="login-form">

        <!-- Token CSRF de segurança para evitar ataques -->
        {% csrf_token %}

        <!-- Estrutura que renderiza o formulário em uma série de parágrafos
             (<p>) -->
        {{ form.as_p }}

        <!-- Botão para envio dos dados do formulário -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<!-- Fim do conteúdo principal da login.html -->
{% endblock %}
